services:
  db:
    image: postgres:18-trixie
    container_name: ${CONTAINER_PREFIX}-postgres
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app_network
    expose:
      - "5432"

  django:
    # ATTENTION: build with Bake: `COMPOSE_BAKE=true docker compose up --build`
    #            or `docker buildx bake --allow=fs.read=..` instead of `docker compose build`
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
        - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        - DJANGO_STATIC_ROOT=${DJANGO_STATIC_ROOT}
    container_name: ${CONTAINER_PREFIX}-django
    image: ${CONTAINER_PREFIX}-django:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ${MOUNT_MEDIA_ROOT}:${DJANGO_MEDIA_ROOT}
      - ${MOUNT_LOGS_DIR}:${DJANGO_LOGS_DIR}
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8000/ht/"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app_network

volumes:
  pgdata:
    driver: local
    name: ${CONTAINER_PREFIX}-pgdata

networks:
  app_network:
    driver: bridge
    name: ${CONTAINER_PREFIX}-network
