{% load static %}
{% load svg_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{% block meta_description %} {{ brand_meta_description }} {% endblock meta_description %}" />
    <meta name="author"
          content="{{ brand_event_name }} {{ brand_made_by_name }}" />
    <meta name="keywords" content="Python, Data, Talks, Schedule, Conference" />
    {% if brand_assets_subdir %}
      {% with base_path="images/"|add:brand_assets_subdir|add:"/" %}
        <link rel="icon" href="{% static base_path|add:'favicon.ico' %}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static base_path|add:'apple-touch-icon.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static base_path|add:'favicon-32x32.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static base_path|add:'favicon-16x16.png' %}" />
        <link rel="manifest" href="{% static base_path|add:'site.webmanifest' %}" />
      {% endwith %}
    {% else %}
      <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% endif %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/tailwind.min.css' %}" />
    <title>
      {% block title %}
        {{ brand_title }}
      {% endblock title %}
    </title>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
  </head>
  <body class="app-body">
    <nav class="app-nav">
      <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
        <a href="{% url 'home' %}" aria-label="Home">{% svg brand_logo_svg_name "w-25 h-20 header-logo" %}</a>
        {% if user.is_authenticated %}
          <span>
            {{ user.email }} |
            <a href="{% url 'user_profile' %}" class="hover:underline">Profile</a> |
            <a href="{% url 'account_logout' %}" class="hover:underline">Logout</a>
          </span>
        {% endif %}
      </div>
    </nav>
    <main class="app-main">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="app-footer">
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between">
          <div>
            <h2 class="text-xl font-bold mb-4">{{ brand_title }}</h2>
            {% if brand_made_by_url %}
              <p>
                Made with ❤️ by the <a href="{{ brand_made_by_url }}">{{ brand_made_by_name }}</a>
              </p>
            {% endif %}
          </div>
          <div class="mt-6 md:mt-0">
            <h3 class="text-lg font-semibold mb-2">Quick Links</h3>
            <ul>
              {% if brand_main_website_url %}
                <li>
                  <a href="{{ brand_main_website_url }}" class="hover:underline">Main website</a>
                </li>
              {% endif %}
              {% if pretalx_schedule_url %}
                <li>
                  <a href="{{ pretalx_schedule_url }}" class="hover:underline">Schedule</a>
                </li>
              {% endif %}
              {% if pretalx_speakers_url %}
                <li>
                  <a href="{{ pretalx_speakers_url }}" class="hover:underline">Speakers</a>
                </li>
              {% endif %}
              {% if brand_venue_url %}
                <li>
                  <a href="{{ brand_venue_url }}" class="hover:underline">Venue</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="mt-8 pt-4 border-t border-strong text-sm text-subtle">
          © {% now "Y" %} {{ brand_event_name }}. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
