{% load static %}
{% load svg_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{% block meta_description %} PyCon DE and PyData 2025 Talks and Schedule {% endblock meta_description %}">
    <meta name="author" content="PyCon DE and PyData 2025 Video Committee">
    <meta name="keywords"
          content="PyCon, PyData, 2025, Talks, Schedule, Python, Data Science, Video, Conference">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/tailwind.min.css' %}">
    <title>
      {% block title %}
        PyCon DE 2025 Talks
      {% endblock title %}
    </title>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
  </head>
  <body class="app-body">
    <nav class="app-nav">
      <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
        <a href="{% url 'home' %}" aria-label="Home">{% svg 'pyconde-pydata-logo' "w-25 h-20 header-logo" %}</a>
        {% if user.is_authenticated %}
          <span>{{ user.email }} |
            <a href="{% url 'account_logout' %}" class="hover:underline">Logout</a></span>
        {% endif %}
      </div>
    </nav>
    <main class="app-main">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="app-footer">
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between">
          <div>
            <h2 class="text-xl font-bold mb-4">PyCon DE &amp; PyData 2025 Talks</h2>
            <p>
              Made with ❤️ by the <a href="https://2025.pycon.de/team/">Video Committee</a>
            </p>
          </div>
          <div class="mt-6 md:mt-0">
            <h3 class="text-lg font-semibold mb-2">Quick Links</h3>
            <ul>
              <li>
                <a href="https://2025.pycon.de/" class="hover:underline">Main website</a>
              </li>
              <li>
                <a href="https://pretalx.com/pyconde-pydata-2025/schedule/"
                   class="hover:underline">Schedule</a>
              </li>
              <li>
                <a href="https://pretalx.com/pyconde-pydata-2025/speaker/"
                   class="hover:underline">Speakers</a>
              </li>
              <li>
                <a href="https://2025.pycon.de/venue/" class="hover:underline">Venue</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8 pt-4 border-t border-strong text-sm text-subtle">
          © {% now "Y" %} PyCon DE &amp; PyData. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
